<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.idNum }}</title>
</head>
<body>
    {{ student.idNum }}<br>
    {{ student.lastName }}, {{ student.firstName }}<br>
    {{ student.college }}<br>
    {{ student.level }}<br>
    {{ student.degree }}<br>
    {{ student.email }}<br>
    {{ student.cpNum }}<br>
    Loan amount: {{ loan.amount }}<br>
    Loan status: {{ loan.status }}<br>
    <input type="button" value="Delete" onclick="location.href = '{% url 'oas:delete_student' student.idNum %}'"><br>

    {% if loan.status == 'In Process' %}
        <input type="button" value="Approve" onclick="location.href = '{% url 'oas:approve_loan' student.idNum %}'"><br>
        <input type="button" value="Reject" onclick="location.href = '{% url 'oas:reject_loan' student.idNum %}'"><br>
    {% endif %}

    <input type="button" value="Back" onclick="location.href = '{% url 'oas:view_applicants' %}'">


</body>
</html>