<html>
    <title>Forgot Password</title>
    <body>
        <h1>Forgot Password</h1>
        {% if error %}
        {{ error }}
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="Email">Email: </label>
            <input id="Email" type="text" name="email" required><br>
            <input type="submit" value="Enter"><br>
            <p><button type="button" href="{% url 'account:login_url' %}">Go Back</button></p>
        </form>
    </body>
</html>
