<html>
    <title>Login</title>
    <body>
        <h1>Login</h1>
        {% if array %}
        {{ array.0 }}
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="Email">Email: </label>
            <input id="Email" type="text" name="email" value="{{ array.1 }}" required><br>
            <label for="Password">Password: </label>
            <input id="Password" type="password" name="password" required><br>
            <input type="submit" value="login"><br>
            <p>Not Yet Registered? <a href="{% url 'account:signup_url' %}">Sign Up</a> Now</p>
        </form>
    </body>
</html>
