<html>
    <title>Profile</title>
    <body>
        <a href="{% url 'account:logout_url' %}">Logout</a>
        <h1>Profile</h1>
        {% if array %}
            {{ array.0 }}
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="First Name">First Name: </label>
            <input id="First Name" type="text" name="First Name" value="{{ array.1 }}" required><br>
            <label for="Last Name">Last Name: </label>
            <input id="Last Name" type="text" name="Last Name" value="{{ array.2 }}" required><br>
            ID Number: {{ array.3 }}<br>
            <label for="College">College: </label>
            <select id="College" name="College" required>
                <option disabled selected value> -- Select Your College -- </option>
                <option value="BAGCED" {% if array.4 == "BAGCED" %}selected{% endif %}>BAGCED</option>
                <option value="CCS" {% if array.4 == "CCS" %}selected{% endif %}>CCS</option>
                <option value="COL" {% if array.4 == "COL" %}selected{% endif %}>COL</option>
                <option value="CLA" {% if array.4 == "CLA" %}selected{% endif %}>CLA</option>
                <option value="COS" {% if array.4 == "COS" %}selected{% endif %}>COS</option>
                <option value="GCOE" {% if array.4 == "GCOE" %}selected{% endif %}>GCOE</option>
                <option value="RVRCOB" {% if array.4 == "RVRCOB" %}selected{% endif %}>RVRCOB</option>
                <option value="SOE" {% if array.4 == "SOE" %}selected{% endif %}>SOE</option>
            </select><br>
            <label for="Course">Course: </label>
            <input id="Course" type="text" name="Course" value="{{ array.5 }}" required><br>
            <label for="Cellphone Number">Cellphone Number(Must Start with 09): </label>
            <input id="Cellphone Number" type="text" name="Cellphone Number" value="{{ array.6 }}" pattern="[0-9]{11}" required><br>
            Email: {{ array.7 }}<br>
            <label for="current_password">Current Password: </label>
            <input id="current_password" type="password" name="current_password" required><br>
            Only fill up the boxes below if you want to change your password<br>
            <label for="new_password1">New Password: </label>
            <input id="new_password1" type="password" name="new_password1"><br>
            <label for="new_password2">Re-Enter New Password: </label>
            <input id="new_password2" type="password" name="new_password2"><br>
            <input type="submit" value="update"><br>
        </form>
    </body>
</html>
