<html>
    <title>Reset Password</title>
    <body>
        <h1>Forgot Password</h1>
        {% if error %}
        {{ error }}
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <label for="password1">Password: </label>
            <input id="password1" type="password" name="password1" required><br>
            <label for="password2">Password: </label>
            <input id="password2" type="password" name="password2" required><br>
            <input type="submit" value="Enter"><br>
        </form>
    </body>
</html>
