<html>
    <title>Sign Up</title>
    <body>
        <h1>Sign Up</h1>
        {% if array %}
        {{ array.0 }}
        {% endif %}
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="First Name" placeholder="First Name" value="{{ array.1 }}" required><br>
            <input type="text" name="Last Name" placeholder="Last Name" value="{{ array.2 }}" required><br>
            <input type="text" name="ID Number" placeholder="ID Number" value="{{ array.3 }}" required><br>
            <input type="text" name="College" placeholder="College" value="{{ array.4 }}" required><br>
            <input type="text" name="Course" placeholder="Course" value="{{ array.5 }}" required><br>
            <input type="text" name="Cellphone Number" placeholder="Cellphone Number" value="{{ array.6 }}" required><br>
            <input type="text" name="Email" placeholder="Email" value="{{ array.7 }}" required><br>
            <input type="password" name="password1" placeholder="Password" required><br>
            <input type="password" name="password2" placeholder="Password Again" required><br>
            <input type="submit" value="signup"><br>
            <p>Already Registered? <a href="{% url 'account:login_url' %}">Login</a> Now</p>
        </form>
    </body>
</html>
