<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicants</title>
</head>
<body>
    {% if applicant_list %}
        <table style="width:100%">

        {% for x in applicant_list %}
            <tr>
                <td><a href="{% url 'oas:view_applicant_detail' x.id_number %}">{{ x.email }}</a></td>
            </tr>
        {% endfor %}

        </table>
    {% else %}
        <h3>No loan applicants</h3>
    {% endif %}

    <input type="button" value="Back" onclick="location.href = '{% url 'oas:index' %}'">


</body>
</html>